body{
    height: 100vh;
}

#container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;


}

.box{
    aspect-ratio: 1;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.easy{
    width: calc(100%/10);
    
    
}

.medium{
    width: calc(100%/9);
    
}

.difficult{
    width: calc(100%/7);
}

.green{
    background-color: green;
}

h1{
    text-align: center;
    color: white;
}